/* MAP */
.map-title {
    text-align: center;
    font-size: 30px;
    margin-top: 2%;
    font-weight: regular;
    padding: 5px 10px;
    font-family: 'Raleway';
    gap: 10px;
}

/* LEGEND */
.legend text {
	stroke: #d5e7fe;
	fill: #d5e7fe; 
	font-size: 0px;
	
}

/* OPTION BUTTON */
#year-select {
    padding: 5px 10px;
    font-size: 30px;
    cursor: pointer;
    border-radius: 10px;
    background: transparent;
    color: lightgrey;
    font-family: 'Raleway';
    border-color: transparent;
}

#country-select {
    padding: 5px 10px;
    font-size: 30px;
    cursor: pointer;
    border-radius: 10px;
    background: transparent;
    color: lightgrey;
    border-color: transparent;
    font-family: 'Raleway';
}


#data-type-select {
    padding: 5px 10px;
    font-size: 30px;
    cursor: pointer;
    border-radius: 10px;
    background: transparent;
    color: lightgrey;
    border-color: transparent;
    font-family: 'Raleway';
    
}
#map {
    width: 100%;
    height: 100%;
}

#map-container {
    position: relative;
    width: 1000px;
    height: 600px;
    margin: auto;
    background-color: transparent; /* Ensure no background is hiding the map */
}


.selected {
    fill: pink;
    stroke: red;
    opacity: 5;
  }
  
  #summary-container {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    font-family: 'Raleway';
    color: white; 
    background-color: rgba(0, 0, 0, 0.5); /* Optional for visibility */
    padding: 10px;
    border-radius: 8px;
}

