/* MAP */
.map-title {
    text-align: center;
    font-size: 1.5em;
    margin-top: 2%;
    font-weight: bold;
    justify-content: center;
    
}
.worldmap-holder {
    display: flex;
	padding: 10px;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

/* LEGEND */
.legend text {
<<<<<<< HEAD
    stroke: #d5e7fe;
    fill: #d5e7fe;
    font-size: medium;

=======
	stroke: #d5e7fe; 
	fill: #d5e7fe; 
	font-size: medium;
	
>>>>>>> 0f7cac7 (edited map, added visual encodings to vis3.)
}

/* OPTION BUTTON */
#year-select {
    padding: 5px 10px;
    font-size: large;
    cursor: pointer;
    border-radius: 10px;
}

/* .map-holder {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

svg {
    display: block;
} */